.gallery {
  width: 110vw;
  max-width: 1500px;
  min-width: 320px;
  justify-content: center;
  margin: auto;
  background-image: linear-gradient(
    to bottom,
    #fff5f6 0%,
    #fff5f6 50%,
    #fff 50%,
    #fff 100%
  );
}
.container {
  margin-left: auto;
  margin-right: auto;
}

.container_gallery {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_num1,
.container_num2,
.container_num3,
.container_num4,
.container_num5,
.container_num6 {
  display: grid;
}
.container_num2 {
  margin-top: 30px;
}
.container_num4 {
  margin-top: 50px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .container_image1,
  .container_image2,
  .container_image2_1,
  .container_image3,
  .container_image3_1,
  .container_image4,
  .container_image4_1,
  .container_image5,
  .container_image5_1,
  .container_image6 {
    border-radius: 10px;
    margin-top: 2px;
    margin-right: 2px;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .container_image1,
  .container_image2,
  .container_image2_1,
  .container_image3,
  .container_image3_1,
  .container_image4,
  .container_image4_1,
  .container_image5,
  .container_image5_1,
  .container_image6 {
    border-radius: 20px;
    margin-top: 3px;
    margin-right: 5px;
    cursor: pointer;
  }
}

@media (min-width: 1200px) {
  .container_image1,
  .container_image2,
  .container_image2_1,
  .container_image3,
  .container_image3_1,
  .container_image4,
  .container_image4_1,
  .container_image5,
  .container_image5_1,
  .container_image6 {
    border-radius: 30px;
    margin-top: 6px;
    margin-right: 7px;
    cursor: pointer;
  }
}

.container_image1:hover,
.container_image1:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(-12px);
  transition: all 0.5s;
}

.container_image2:hover,
.container_image2:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(-12px);
  transition: all 0.5s;
}

.container_image2_1:hover,
.container_image2_1:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(-12px);
  transition: all 0.5s;
}

.container_image3:hover,
.container_image3:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(-12px);
  transition: all 0.5s;
}

.container_image3_1:hover,
.container_image3_1:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(-12px);
  transition: all 0.5s;
}
.container_image4:hover,
.container_image4:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(12px);
  transition: all 0.5s;
}

.container_image4_1:hover,
.container_image4_1:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(12px);
  transition: all 0.5s;
}
.container_image5:hover,
.container_image5:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(12px);
  transition: all 0.5s;
}

.container_image5_1:hover,
.container_image5_1:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(12px);
  transition: all 0.5s;
}
.container_image6:hover,
.container_image6:focus {
  box-shadow: 0px 8px 30px rgba(250, 250, 250, 0.6);
  transform: scale(1.3) translateX(12px);
  transition: all 0.5s;
}
