body {
  letter-spacing: 0.03em;
  font-family: 'DM Sans', 'titan one', sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  list-style: none;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 115 0 115px;
  }
}
