header {
  background: linear-gradient(50deg, #ffb8ca, #9f465b, #f6a7bb, #af6678);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  border-bottom: 1px solid #fa3434;
}

.container--modicator {
  height: 502px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  background-image: url(/src/images/ellipse-\ fondo-header.png);
  background-size: 346px 346px;
  background-repeat: no-repeat;
  background-position: top 83px left 36px;
}

.image__link--icecream {
  width: 171px;
  height: 410px;
  position: absolute;
  right: 32px;
  bottom: 0;
  z-index: 3;
  cursor: pointer;
  display: block;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.title {
  position: relative;
  z-index: 5;

  &__main {
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #ffffff;
    z-index: 10;
    margin-bottom: 19px;
    cursor: default;

    .title__passion {
      color: #d41443;
      font-size: 48px;
      line-height: 0.96;
      letter-spacing: 0.04em;
      text-transform: uppercase;
    }
  }
}

.button {
  display: flex;
  a {
    text-decoration: none;
  }
  &__one {
    background-color: #d41443;
    margin-right: 10px;
    height: 24px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px;
    border: none;
    padding: 0 14px;
    cursor: pointer;
    height: 24px;
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;
      color: #fff;
      display: flex;
      padding-top: 3px;
      align-items: center;
      text-align: center;
    }
  }

  &__two {
    background-color: #fff;
    margin-right: 10px;
    height: 24px;
    transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 20px;
    border: none;
    padding: 0 14px;
    cursor: pointer;
    height: 24px;
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 8px;
      line-height: 1.25;
      color: #d41443;
      display: flex;
      padding-top: 3px;
      align-items: center;
      text-align: center;
    }
  }
}
