body {
  width: 100% !important;
  overflow-x: hidden !important;
}
.container__products {
  margin-bottom: 60px;
}

.subtitle__products {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  padding-top: 60px;
  margin-top: 0;
  margin-bottom: 15px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: letter-spacing;
}
.subtitle__products:hover {
  letter-spacing: 6px;
  animation-name: springy-text;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.title__products {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  margin-top: 0;
  margin-bottom: 8px;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: letter-spacing;
}
.title__products:hover {
  letter-spacing: 8px;
  animation: springy-text;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.products {
  height: 820px;
}
.product__image {
  margin-top: 40px;
  width: 280px;
}

.container__product--1 {
  position: relative;
  margin: 0 auto;

  &:hover .container__product--label--1 {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 5px 15px rgba(144, 35, 62, 0.632);
  }
  &:hover .product__name {
    z-index: 60;
    font-size: 22px;
    cursor: pointer;
  }
  &:hover .description__product {
    z-index: 60;
    opacity: 1;
    font-size: 110%;
  }
  &:hover .product__arrow {
    transform: rotate(-90deg);
    width: 32px;
    height: 32px;
    margin-top: -10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    background-color: red;
    border-radius: 35%;
    fill: white;
    cursor: pointer;
  }
}

.container__product--label--1 {
  width: 280px;
  height: 489px;
  background: #ffb8ca;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 180px;
  z-index: -1;
}

.container__product--2 {
  position: relative;
  margin: 0 auto;

  &:hover .container__product--label--2 {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 5px 15px rgba(144, 35, 62, 0.632);
  }
  &:hover .product__name {
    z-index: 60;
    font-size: 22px;
    cursor: pointer;
  }
  &:hover .description__product {
    z-index: 60;
    opacity: 1;
    font-size: 110%;
  }
  &:hover .product__arrow {
    transform: rotate(-90deg);
    width: 32px;
    height: 32px;
    margin-top: -10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    background-color: red;
    border-radius: 35%;
    fill: white;
    cursor: pointer;
  }
}
.container__product--label--2 {
  width: 280px;
  height: 489px;
  background: #f0d1a5;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 180px;
  z-index: -1;
}
.container__product--3 {
  position: relative;
  margin: 0 auto;

  &:hover .container__product--label--3 {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0px 5px 15px rgba(144, 35, 62, 0.632);
  }
  &:hover .product__name {
    z-index: 60;
    font-size: 22px;
    cursor: pointer;
  }
  &:hover .description__product {
    z-index: 60;
    opacity: 1;
    font-size: 110%;
  }
  &:hover .product__arrow {
    transform: rotate(-90deg);
    width: 32px;
    height: 32px;
    margin-top: -10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    background-color: red;
    border-radius: 35%;
    fill: white;
    cursor: pointer;
  }
}
.container__product--label--3 {
  width: 280px;
  height: 489px;
  background: #c2e297;
  border-radius: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 180px;
  z-index: -1;
}
.product__name {
  font-family: 'Titan One';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 160px;
  margin-bottom: 32px;
}

.container__elipses {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}
.product__elipse {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #ffffff;
  margin-right: 4px;
}
.product__elipse:last-child {
  margin-right: 0;
}

.description__product {
  font-family: 'dm sans';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  width: 200px;
  margin-bottom: 60px;
}

.product__arrow {
  margin: 0 auto;
  fill: red;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  z-index: 55;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: width, height, margin-top, transform, box-shadow,
    background-color, fill;
}

@media screen and (min-width: 0px) and (max-width: 320px) {
  .products {
    height: 626px;
  }
  .container__product--1 {
    width: 100%;
  }
  .container__product--label--1 {
    width: 100%;
  }
  .container__product--2 {
    width: 100%;
  }
  .container__product--label--2 {
    width: 100%;
  }
  .container__product--3 {
    width: 100%;
  }
  .container__product--label--3 {
    width: 100%;
  }
  .product__image {
    width: 100%;
  }
  .description__product {
    width: 100%;
  }
  .title__products {
    align-content: center;
  }
  .subtitle__products {
    align-content: center;
  }
  .products {
    width: 100%;
  }
  .product__name {
    width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .products {
    height: 680px;
  }
  .title__products {
    align-content: center;
  }
  .subtitle__products {
    align-content: center;
  }
  .container__product--1 {
    width: 280px;
  }
  .container__product--label--1 {
    width: 280px;
  }
  .container__product--2 {
    width: 280px;
  }
  .container__product--label--2 {
    width: 280px;
  }
  .container__product--3 {
    width: 280px;
  }
  .container__product--label--3 {
    width: 280px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .container__products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .product__image {
    width: 224px;
    margin-top: 0;
  }
  .container__product--label--1 {
    width: 224px;
    top: 168px;
  }
  .container__product--label--2 {
    width: 224px;
    top: 168px;
  }
  .container__product--label--3 {
    width: 224px;
    top: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .container__products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .product__image {
    width: 368px;
  }
  .container__product--label--1 {
    width: 368px;
    height: 535px;
    top: 280px;
  }
  .container__product--label--2 {
    width: 368px;
    height: 535px;
    top: 280px;
  }
  .container__product--label--3 {
    width: 368px;
    height: 535px;
    top: 280px;
  }
}
