$pinkColor:#ffb8ca;
$pinkDarkColor: #D41443;
$pinkLightColor:#FFF5F6;
$pink1Color:#ffa5ba;
$blackColor:#000000;
$coffeeColor:#907E82;
$whiteEColor:#E1E1E1;
$whiteColor:#ffffff;
$yellowColor:#f0d1a5;
$greenColor:#c2e297;