
    <!--section comentarios -->
    <div class="container-main">
      <section class="container">
        <div class="container__photo">
          <img
            src="./images/testimonials1 1.png"
            class="photo"
            alt="keyboard image"
            width="85"
          />
          <img
            src="./images/testimonials1 3.png"
            class="photo"
            alt="keyboard image"
            width="85"
          />
          <img
            src="./images/testimonials1 4.png"
            class="photo"
            alt="keyboard image"
            width="85"
          />
        </div>
        <div class="container__commet">
          <div class="comilla"></div>
          <p>
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
            Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem
            ipsum primis in nibh vel risus.
          </p>
        </div>

        <div>
          <img
            src="./images/Ellipse 4morado.png"
            class="elipse"
            alt="keyboard image"
            width="8"
          />
          <img
            src="./images/Ellipse 4morado.png"
            class="elipse"
            alt="keyboard image"
            width="8"
          />
          <img
            src="./images/Ellipse 4morado.png"
            class="elipse"
            alt="keyboard image"
            width="8"
          />
        </div>
        <div class="container__name">
          <h4>Emily, Los Angeles</h4>
        </div>

        <div>
          <img
            src="./images/Vectorcasita.png"
            class="elipse"
            alt="keyboard image"
            width="10"
          /><img
            src="./images/Ellipse 7.png"
            class="elipse"
            alt="keyboard image"
            width="10"
          />

          <img
            src="./images/Ellipse 7.png"
            class="elipse"
            alt="keyboard image"
            width="10"
          />
        </div>
      </section>
    </div>
 