
      <section class="contact">
        <div>
          <ul class="contact__box">
            <li class="card">
              <div class="card__contact">
                <h4 class="card__product-cafe">CAFE</h4>
                <p class="card__city">Chicago</p>
                <p class="card__description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <hr />
                <p class="card__day">Monday - Friday</p>
                <p class="card__hour">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__hour">08:00 AM - 16:00 PM</p>
                <hr />
                <ul>
                  <li>
                    <a class="card__tel-mail" href="tel:+610383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a class="card__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="card">
              <div class="card__contact">
                <h4 class="card__product-food">FOOD TRUCK</h4>
                <p class="card__city">Los Angeles</p>
                <p class="card__description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <hr />
                <p class="card__day">Monday - Friday</p>
                <p class="card__hour">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__hour">08:00 AM - 16:00 PM</p>
                <hr />
                <ul>
                  <li>
                    <a class="card__tel-mail" href="tel:+610383766284"
                      >+61(0) 383 766 284</a
                    >
                  </li>
                  <li>
                    <a class="card__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="card">
              <div class="card__contact">
                <h4 class="card__product-cafe">CAFE</h4>
                <p class="card__city">Nueva York</p>
                <p class="card__description">
                  Fusce ut velit laoreet, tempus arcu molestie vulputate
                </p>
                <hr />
                <p class="card__day">Monday - Friday</p>
                <p class="card__hour">06:00 AM - 10:00 PM</p>
                <p class="card__day">Saturday - Sunday</p>
                <p class="card__hour">08:00 AM - 16:00 PM</p>
                <hr />
                <ul>
                  <li>
                    <a class="card__tel-mail" href="tel:+610383766284">+61(0) 383 766 284</a>
                  </li>
                  <li>
                    <a class="card__tel-mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="contact__list">
            <button type="button" class="contact__button one">Our Locations &gt;</button>
            <button type="button" class="contact__button">Franchise &gt;</button>
          </div>
        </div>
      </section>