<footer id="footer"class="footer">
    <section class="footer__container container">
        <div class="footer__text">
            <h2 class="footer__title">Homemade Ice Cream Made</h2>
            <h2 class="footer__subtitle">With Passion</h2>
        </div>
        <div class="footer__section">
        <div class="networks">
            <ul class="networks__container">
                <li class="networks__icon">
                    <a href="https://github.com/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg
                      class="networks__image"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                    >
                      <use href="./images/icons.svg#icon-github"></use>
                    </svg>
                  </a>
                </li>
                <li class="networks__icon" >
                    <a href="https://telegram.org/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg
                      class="networks__image"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                    >
                      <use href="./images/icons.svg#icon-enviar-icono"></use>
                    </svg>
                </li>
                <li class="networks__icon" >
                    <a href="https://www.facebook.com/" target="_blank" rel="nofollow noopener noreferrer">
                    <svg
                      class="networks__image"
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                    >
                      <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </li>
            </ul>
        </div>
        <div class="footer__contact">
        <a class="footer__tel" href="tel:+610383766284">Feel free to contact <span class="footer__number">+61 (0) 383 766 284</span></a>
        </div>
    </div>
    </section>
    <section class="footer__box">
        <p>© 2022 - IceCream. All Rights Reserved.  </p>
    </section>
</footer>

