<link rel="stylesheet" href="../sass/_gallery.scss" />

<section class="gallery">
  <div class="container">
    <div class="container_gallery">
      <div class="container_num1">
        <img
          src="../images/gallery/ice_cream1.jpg"
          srcset=""
          alt="Ice cream pistacho"
        />
      </div>
      <div class="Container_num2">
        <img src="../images/gallery/Ice_cream2.jpg" alt="Ice cream fresa" />
        <img
          src="../images/gallery/Ice_cream2_1.jpg"
          alt="Ice cream fresalight"
        />
      </div>
      <div class="Container_num3">
        <img src="../images/gallery/Ice_cream3_1.jpg" alt="Ice cream mix" />
        <img src="../images/gallery/Ice_cream3.jpg" alt="Ice cream enjoy" />
      </div>

      <div class="Container_num4">
        <img
          src="..//images/gallery/Ice_cream4.jpg"
          alt="Ice cream in the street"
        />
        <img
          src="../images/gallery/Ice_cream4_1.jpg"
          alt="Ice cream in family"
        />
      </div>
      <div class="Container_num5">
        <img src="../images/gallery/Ice_cream5.jpg" alt="Ice cream dog" />
        <img src="../images/gallery/Ice_cream5_1.jpg" alt="Ice cream shakes" />
      </div>
      <div class="Container_num6">
        <img src="../images/gallery/Ice_cream6.jpg" alt="Ice cream" />
      </div>
    </div>
  </div>
</section>
