
    <link rel="stylesheet" href="/src/sass/_gallery.scss">
    <section class="gallery">
      <div class="container">
        <div class="container_gallery">
          <div class="container_num1">
            <img src="/src/images/gallery/mobile/gallery1.jpg" alt="ice cream pistacho">
          </div>
          <div class="container_num2">
            <img src="/src/images/gallery/mobile/gallery2.jpg" alt="ice cream fresa">
            <img src="/src/images/gallery/mobile/gallery2_1.jpg" alt="ice cream fresas">
          </div>
          <div class="container_num3">
            <img src="/src/images/gallery/mobile/gallery3.jpg" alt="Ice cream mix">
            <img src="/src/images/gallery/mobile/gallery3_1.jpg" alt="Enjoy">
          </div>
          <div class="container_num4">
            <img src="/src/images/gallery/mobile/gallery4.jpg" alt="">
            <img src="/src/images/gallery/mobile/gallery4_1.jpg" alt="">
          </div>
          <div class="container_num5">
            <img src="/src/images/gallery/mobile/gallery5.jpg" alt="">
            <img src="/src/images/gallery/mobile/gallery5_1.jpg" alt="">
          </div>
          <div class="container_num6">
            <img src="/src/images/gallery/mobile/gallery6.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
