<section class="gallery">
  <div class="container">
    <div class="container_gallery">
      <div class="container_num1">
        <img
          class="container_image1"
          src="../images/gallery/big/ice_cream1.jpg"
          srcset="
            ../images/gallery/big/ice_cream1.jpg    1200w,
            ../images/gallery/medium/ice_cream1.jpg  700w,
            ../images/gallery/small/ice_cream1.jpg   320w
          "
          alt="Ice cream pistacho"
        />
      </div>
      <div class="Container_num2">
        <img
          class="container_image2"
          src="../images/gallery/big/Ice_cream2.jpg"
          srcset="
            ../images/gallery/big/Ice_cream2.jpg    1200w,
            ../images/gallery/medium/Ice_cream2.jpg  700w,
            ../images/gallery/small/Ice_cream2.jpg   320w
          "
          alt="Ice cream fresa"
        />
        <img
          class="container_image2_1"
          src="../images/gallery/big/Ice_cream2_1.jpg"
          srcset="
            ../images/gallery/big/Ice_cream2_1.jpg    1200w,
            ../images/gallery/medium/Ice_cream2_1.jpg  700w,
            ../images/gallery/small/Ice_cream2_1.jpg   320w
          "
          alt="Ice cream fresalight"
        />
      </div>
      <div class="Container_num3">
        <img
          class="container_image3_1"
          src="../images/gallery/big/Ice_cream3_1.jpg"
          srcset="
            ../images/gallery/big/Ice_cream3_1.jpg    1200w,
            ../images/gallery/medium/Ice_cream3_1.jpg  700w,
            ../images/gallery/small/Ice_cream3_1.jpg   320w
          "
          alt="Ice cream mix"
        />
        <img
          class="container_image3"
          src="../images/gallery/big/Ice_cream3.jpg"
          srcset="
            ../images/gallery/big/Ice_cream3.jpg    1200w,
            ../images/gallery/medium/Ice_cream3.jpg  700w,
            ../images/gallery/small/Ice_cream3.jpg   320w
          "
          alt="Ice cream enjoy"
        />
      </div>

      <div class="Container_num4">
        <img
          class="container_image4_1"
          src="../images/gallery/big/Ice_cream4_1.jpg"
          srcset="
            ../images/gallery/big/Ice_cream4_1.jpg    1200w,
            ../images/gallery/medium/Ice_cream4_1.jpg  700w,
            ../images/gallery/small/Ice_cream4_1.jpg   320w
          "
          alt="Ice cream in family"
        />
        <img
          class="container_image4"
          src="../images/gallery/big/Ice_cream4.jpg"
          srcset="
            ../images/gallery/big/Ice_cream4.jpg    1200w,
            ../images/gallery/medium/Ice_cream4.jpg  700w,
            ../images/gallery/small/Ice_cream4.jpg   320w
          "
          alt="Ice cream in the street"
        />
      </div>
      <div class="Container_num5">
        <img
          class="container_image5"
          src="../images/gallery/big/Ice_cream5.jpg"
          srcset="
            ../images/gallery/big/Ice_cream5.jpg    1200w,
            ../images/gallery/medium/Ice_cream5.jpg  700w,
            ../images/gallery/small/Ice_cream5.jpg   320w
          "
          alt="Ice cream dog"
        />
        <img
          class="container_image5_1"
          src="../images/gallery/big/Ice_cream5_1.jpg"
          srcset="
            ../images/gallery/big/Ice_cream5_1.jpg    1200w,
            ../images/gallery/medium/Ice_cream5_1.jpg  700w,
            ../images/gallery/small/Ice_cream5_1.jpg   320w
          "
          alt="Ice cream shakes"
        />
      </div>
      <div class="Container_num6">
        <img
          class="container_image6"
          src="../images/gallery/big/Ice_cream6.jpg"
          srcset="
            ../images/gallery/big/Ice_cream6.jpg    1200w,
            ../images/gallery/medium/Ice_cream6.jpg  700w,
            ../images/gallery/small/Ice_cream6.jpg   320w
          "
          alt="Ice cream"
        />
      </div>
    </div>
  </div>
</section>
