<header id="header">
    <div class="container container--modicator">
        <a href="https://www.youtube.com/watch?v=GjEvcVUDWVQ" class="link-header"></a>
        <a href="#product" class="image__link--icecream">
            <picture>
                <img src="/src/images/ice-header.png" alt="Imagen de helado">
            </picture>
        </a>
        <div class="title">
            <div>
                <h1 class="title__main">ice cream <br> made with <br> <span class="title__passion">passion</span>
                </h1>
                <div class="button">
                    <button class="button__one">
                        <a href="#product" class="button__one-link">Products</a>
                    </button>
                    <button class="button__two">
                        <a href="#how-it's-made" class="title__button-tow-link">How it’s made?</a>
                    </button>
                </div>
            </div>
            <div class="header-counter">
                <ul class="header-counter__list">
                    <li class="header-counter__item">
                        16 <br> <span class="header-counter__spam">cafes</span>
                    </li>
                    <li class="header-counter__item header-counter__item--zise">
                        23 <br> <span class="header-counter__spam">food trucks</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-figure">
            <a href="#how-it's-made" class="header-figure__image"></a>
            <div class="header-product">
                <p class="header-product__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et</p>
                <div class="button-header-figure">
                    <a href="#how-it's-made">
                        <svg class="button-header-figure__icon" width="18" height="18">
                            <use href="/src/images/icons.svg#icon-header"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>