<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Titan+One&display=swap" rel="stylesheet">

</head>

<body>
    <header id="header">
        <div class="container container--modicator">
            <a href="#product" class="image__link--icecream">
                <picture>
                    <img src="/src/images/ice-header.png" alt="Imagen de helado">
                </picture>
            </a>
            <div class="title">
                <div>
                    <h1 class="title__main">ice cream <br> made with <br> <span class="title__passion">passion</span>
                    </h1>
                    <div class="button">
                        <button class="button__one">
                            <a href="#product" class="button__one-link">Products</a>
                        </button>
                        <button class="button__two">
                            <a href="" class="title__button-tow-link">How it’s made?</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>

</html>