<section class="information" id="how-it's-made">
  <div class="container">
    <div class="container__information">
      <h1>TRADITION AND LOVE</h1>
      <p>HOW IT´S MADE</p>
    </div>
    <div class="container__text">
      <div class="image-vaca"></div>
      <div class="image-milk"></div>
      <div class="information__text">
        <h2>
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </h2>
        <p>
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt. Aliquam erat volutpat. Aenean accumsan.
        </p>
        <button type="button">Read More &gt;</button>
      </div>
      <div class="image-milk"></div>
    </div>
    <div class="information__date">
      <div class="information__date-gift">
        <svg class="information__svg">
          <use href="./images/symbol-defs.svg#icon-vec1"></use>
        </svg>
        <p>721</p>
        <h2>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h2>
      </div>
      <div class="information__date-gift">
        <svg class="information__svg">
          <use href="./images/symbol-defs.svg#icon-vec2"></use>
        </svg>
        <p>16kg</p>
        <h2>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h2>
      </div>
      <div class="information__date-gift">
        <svg class="information__svg">
          <use href="./images/symbol-defs.svg#icon-vec3"></use>
        </svg>
        <p>84</p>
        <h2>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</h2>
      </div>
    </div>
  </div>
</section>
