<div class="backdrop is-hidden" data-modal-header>
    <div class="modal-header header-is-open">
        <button class="close-header" data-modal-header-close>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18">
                <use href="./images/symbol-defs1.svg#icon-close"></use>
            </svg>
        </button>
        <button class="closeMenuBtnButtom button-header">
            <a class="button-header__link" href="#"><span class="buy">Buy Now</span><span class="greater">&gt</span></a>
        </button>
        <nav class="navigation">
            <ul class="navigation__desktop">
                <li class="navigation__desktop--item">
                    <a class="closeMenuBtnOne navigation__desktop--link current" href="#">Home</a>
                </li>
                <li class="navigation__desktop--item">
                    <a class="closeMenuBtnTwo navigation__desktop--link" href="#footer">About Us</a>
                </li>
                <li class="navigation__desktop--item">
                    <a class="closeMenuBtnThree navigation__desktop--link" href="#how-it's-made">How It's Made?</a>
                </li>
                <li class="navigation__desktop--item">
                    <a class="closeMenuBtnFour navigation__desktop--link" href="#product">Our Products</a>
                </li>
                <li class="navigation__desktop--item">
                    <a class="closeMenuBtnFive navigation__desktop--link" href="#contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
</div>