<main>
  <section class="section" id="product">
    <div class="container section__product">
      <h3 class="subtitle__products">100% natural</h3>
      <h2 class="title__products">products</h2>
      <div class="container__products">
        <div class="products container__product--1">
          <img
            class="product__image"
            src="/src/images/home-pic1.png"
            alt="Helado de fresa"
          />
          <div class="container__product--label--1">
            <h2 class="product__name">ice cream</h2>
            <div class="container__elipses">
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
            </div>
            <h3 class="description__product">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </h3>

            <svg
              class="product__arrow"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
            >
              <path
                d="m17.17 19.91 3.43-3.43a.69.69 0 0 0 0-.97l-3.43-3.42a.69.69 0 1 0-.97.97l2.26 2.25h-6.57a.69.69 0 1 0 0 1.38h6.57l-2.26 2.25a.68.68 0 0 0 0 .97c.27.27.7.27.97 0z"
              />
            </svg>
          </div>
        </div>

        <div class="products container__product--2">
          <img
            class="product__image"
            src="/src/images/home-pic1 (1).png"
            alt="Helado de cafe"
          />
          <div class="container__product--label--2">
            <h2 class="product__name">ice coffee</h2>
            <div class="container__elipses">
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
            </div>
            <h3 class="description__product">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </h3>

            <svg
              class="product__arrow"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
            >
              <path
                d="m17.17 19.91 3.43-3.43a.69.69 0 0 0 0-.97l-3.43-3.42a.69.69 0 1 0-.97.97l2.26 2.25h-6.57a.69.69 0 1 0 0 1.38h6.57l-2.26 2.25a.68.68 0 0 0 0 .97c.27.27.7.27.97 0z"
              />
            </svg>
          </div>
        </div>
        <div class="products container__product--3">
          <img
            class="product__image"
            src="/src/images/home-pic1 (2).png"
            alt="Milshakes"
          />
          <div class="container__product--label--3">
            <h2 class="product__name">milkshakes</h2>
            <div class="container__elipses">
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
              <div class="product__elipse"></div>
            </div>
            <h3 class="description__product">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et. dolore magna aliqua
              facilisis.
            </h3>

            <svg
              class="product__arrow"
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
            >
              <path
                d="m17.17 19.91 3.43-3.43a.69.69 0 0 0 0-.97l-3.43-3.42a.69.69 0 1 0-.97.97l2.26 2.25h-6.57a.69.69 0 1 0 0 1.38h6.57l-2.26 2.25a.68.68 0 0 0 0 .97c.27.27.7.27.97 0z"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
